/* ---------------------- MAIN ----------------------- */
.main-div {
    width: 100%;
    min-width: 1000px;
}

.my-tabs {
    min-width: 1000px;
}

/* --------------- TABS NAVIGATION BAR --------------- */
#tabs {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}
.custom-tabs-container {
    width: 85%;
    background-color: #222222;
    z-index: 0;
}
.custom-tabs {
    border-top-left-radius: 3px;
    background-color: #222222;
    padding: 0px 24px;
    z-index: 0;
}
.custom-tab {
    color:#FFFFFF;
    z-index: 10000;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    background-color: #303030;
    padding: 12px !important;
    font-family: "system-ui";
    display: flex !important;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
.custom-tab--selected {
    border-left: 1px solid #444444 !important;
    border-right: 1px solid #444444 !important;
    border-top: 3px solid #e36209 !important;
    z-index: 0;
}

/* --------------- USER LOGIN AND RAGISTRATION --------------- */
.user-tabs-container {
    width: 85%;
    background-color: #303030;
    z-index: 0;
}
.user-tabs {
    border-top-left-radius: 3px;
    background-color: #303030;
    padding: 0px 24px;
    z-index: 0;
}
.user-tab {
    color: silver;
    z-index: 10000;
    border-top: 0px solid #535353 !important;
    border-left: 0px solid #535353 !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    border-radius: 5px;
    background-color: silver;
    padding: 12px !important;
    font-family: "system-ui";
    display: flex !important;
    align-items: center;
    justify-content: center;
    z-index: 0;
    height: 40px;
}
.user-tab--selected {
    border-left: 0px solid #444444 !important;
    border-right: 0px solid #444444 !important;
    border-top: 0px solid #535353 !important;
    z-index: 0;
}

/* --------------- FOOTERS --------------- */
.home-footer {
    padding: 0;
    padding-top: 20px;
    width: 100%;
    border: 0px;
    text-align: center;
    bottom: 0px;
    height: 50px;
    z-index: 1000;
}
.sim-footer {
    padding: 0;
    padding-top: 15px;
    width: 100%;
    border: 0px;
    text-align: center;
    bottom: 0px;
    height: 50px;
}
.eval-footer {
    padding: 0;
    padding-top: 15px;
    width: 100%;
    border: 0px;
    text-align: center;
    bottom: 0px;
    height: 50px;
}
.ds-footer {
    padding: 0;
    padding-top: 15px;
    width: 100%;
    border: 0px;
    text-align: center;
    bottom: 0px;
    height: 50px;
}
.ds-card {
    background: #FAE7D9
}

/* --------------- SCROLLBAR PAPERS --------------- */
#scrollable_paper_list::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    border-radius: 5px;
}

#scrollable_paper_list::-webkit-scrollbar-thumb {
    background-color: silver;
    border-radius: 5px;
    
}

#scrollable_paper_list {
    scrollbar-width: thin;
    scrollbar-color: silver;
}

#scrollable_paper_list::-moz-scrollbar {
    width: 10px;
    background-color: transparent;
    border-radius: 5px;
}

#scrollable_paper_list::-moz-scrollbar-thumb {
    background-color: silver;
    border-radius: 5px;
}


/* --------------- CAROUSEL --------------- */
#paper_carousel img{
    border-radius: 10px;
}